main {
    flex: 1 0 auto;
    padding: 16px;
    background: #e6f2ff;
    position: relative;
}
* {
    margin: 0;
}

html, body {
    height: 100%;
}
.header-h1 {
    text-align: center;
    margin-bottom: .5rem;
}
.header-h1 h1 {
    background: #0097a7;
    margin-bottom: 0;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #fff;
}
body {
    display: flex;
    flex-direction: column;
}
#myform {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#formname {
    position: absolute;
    left: 45%;
    top: -70%;

}
#error{
    position: absolute;
    top: -70%;
    left: 125%;
}