#myform {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#formname {
    position: absolute;
    left: 45%;
    top: -15%;

}
#error{
    position: absolute;
    left: 120%;
    top: 10%;
}