* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 16px;
    background: #e6f2ff;
    position: relative;
}

table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
}

/* границы ячеек первого ряда таблицы */
th {
    border: 1px solid grey;
}

/* границы ячеек тела таблицы */
td {
    border: 1px solid grey;
}


#userCrud {
    padding: 10px;
    height: 40px;
    background: lavender;
}

#refs {
    float: bottom;
    padding: 14px;
    text-align: center;
}


